@import "../Variables/Variables.scss";

.message-container {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: $brightBackground;
  border-radius: 18px;
  margin-bottom: 1em;
  .message-avatar {
    height: 3em;
    min-width: 3em;
    border-radius: 50%;
    background-size: cover;
  }
  .message-container-sent-wrapper {
    display: flex;
    align-items: center;
  }
}
.message-content {
  padding: 0.2em;
  margin-left: 1em;
  text-align: left;
  p {
    margin-top: 0;
    font-size: 0.9rem;
  }
  h4 {
    margin: 0.2rem 0;
    color: $darkPurple;
  }
}

.mail-container {
  padding: 0.5rem;
  .messages-header {
    display: flex;
    justify-content: space-between;
    h3 {
      margin-top: 0;
      text-align: left;
      color: $darkPurple;
    }
    h4 {
      margin: 0.2rem 0;
      color: $darkPurple;
    }

    .clear-btn {
      font-size: 1rem;
      background-color: $brightBackground;
      border-radius: 12px;
      margin-bottom: 1em;
      padding: 0 2em;
      font-weight: 500;
      &:hover,
      &:focus,
      &:active {
        background-color: $darkPurple;
        color: $lightPurple;
      }
    }
  }
}

.sent {
  background-color: $lightPurple;
  display: block;
  padding-top: 0;
  /* display: flex;
    justify-content: space-between; */
}
.flex-button {
  display: flex;
  justify-content: right;
  .delete-line {
    font-size: 0.9rem;
    background-color: transparent;
    margin-top: 0.2rem;
    color: $white;
    font-weight: 800;
    &:hover {
      color: $darkPurple;
    }
  }
}
