#root {
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  max-height: 100vh;
  max-width: 760px;
}

.dogCard-container {
  position: relative;
  height: 80vh;
  max-width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.2em;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  text-align: left;
  padding: 0.2em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; 
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 18px;
}
.content > h1 {
  margin: 0;
  font-size:1.5em;
}
.content>p{
  margin-top:0.2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

header > .icon {
  
  margin-bottom: 0.5rem;
}

header>img{
  width:4rem;
  margin-bottom:0.5em;
}

.person,
.chat {
  font-size: 2rem;
  color: #d9dee6;
}

.like-badge,
.dismiss-badge {
  
  position: absolute;
  transform: rotate(-30deg);
  top: 80px;
  left: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  font-size: 4rem;
  font-weight: 600;
  padding: 0.2rem 1.5rem;
}

.like-badge {
  background: rgb(41, 215, 138);
  background: linear-gradient(
    90deg,
    rgba(41, 215, 138, 1) 78%,
    rgba(110, 242, 242, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 10px solid rgb(41, 215, 138);
}

.dismiss-badge {
  background: rgb(232, 45, 112);
  background: linear-gradient(
    90deg,
    rgba(232, 45, 112, 1) 62%,
    rgba(240, 105, 87, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 10px solid rgb(232, 45, 112); */
 
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

button {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2em;
  background-color: #fff;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.icon {
  vertical-align: middle;
}

.heart {
  color: rgb(0, 216, 148);
}

.dismiss {
  color: rgb(232, 45, 112);
}

.dogList-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2em;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
.dog-liked > img {
  max-height: 30vh;
  border-radius: 18px;
}
.main-conainer {
  margin: 0 auto;
}
.btn-refresh {
  font-weight: 500;
  font-size: 1rem;

  border-radius: 8px;
  background: rgb(232, 45, 112);
  background: linear-gradient(
    90deg,
    rgba(232, 45, 112, 1) 62%,
    rgba(240, 105, 87, 1) 100%
  );
  color: #fff;
  padding: 1em;
}
