* {
  box-sizing: border-box;
}

#root {
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  max-height: 100vh;
  max-width: 760px;
}

.dogCard-container {
  position: relative;
  height: 80vh;
  max-width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.2em;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  text-align: left;
  padding: 0.2em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 18px;
}
.content > h1 {
  margin: 0;
  font-size: 1.5em;
}
.content > p {
  margin-top: 0.2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
}
/* .item {
  flex: 1;
  text-align: center;
} */
header > .icon {
  margin-bottom: 0.5rem;
}

header > img {
  width: 4rem;
  margin-bottom: 0.5em;
  margin-right: 3em;
}

.person,
.chat {
  font-size: 2rem;
  color: #d9dee6;
}

.like-badge,
.dismiss-badge {
  position: absolute;
  transform: rotate(-30deg);
  top: 80px;
  left: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  font-size: 4rem;
  font-weight: 600;
  padding: 0.2rem 1.5rem;
}

.like-badge {
  background: rgb(41, 215, 138);
  background: linear-gradient(
    90deg,
    rgba(41, 215, 138, 1) 78%,
    rgba(110, 242, 242, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 10px solid rgb(41, 215, 138);
}

.dismiss-badge {
  background: rgb(232, 45, 112);
  background: linear-gradient(
    90deg,
    rgba(232, 45, 112, 1) 62%,
    rgba(240, 105, 87, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 10px solid rgb(232, 45, 112);
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

button {
  cursor: pointer;
  padding: 0.2em;
  background-color: #fff;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile button,
footer button {
  border-radius: 50%;
  font-size: 2rem;
}
.icon {
  vertical-align: middle;
}

.heart {
  color: rgb(0, 216, 148);
}

.dismiss {
  color: rgb(232, 45, 112);
}

.dogList-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2em;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  position: relative;
}
.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* background-color: #eff0f3; */
  background-color: #d4d8f0;
  border-radius: 18px;
  padding: 2rem;
}

.popUp form {
  width: 100%;
  margin: 0 auto;
}
/* form > button {
  
} */

.message-toDog {
  display: flex;
  margin: 0.7em auto;
  align-items: center;
  justify-content: left;
  color: #232946;
  background-color: #fffffe;
  border-radius: 12px;
}
.message-toDog h5 {
  margin: 0;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.closePopUp-btn-container {
  display: flex;
  justify-content: end;
}
.closePopUp-btn {
  display: flex;
  background-color: transparent;
  border: #232946 1.5px solid;
  border-radius: 12px;
  padding: 0.4em 1em;
}
.send-btn {
  background-color: #232946;
  color: #d4d8f0;
  padding: 1em 2em;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  display: block;
  margin: 1em auto;
  width: 100%;
}

.clear-btn {
  background-color: #fffffe;
  border-radius: 12px;
  margin-bottom: 0.6em;
  padding: 0 2em;
}
textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  border: none;
}

.dog-liked > img {
  max-height: 30vh;
  border-radius: 18px;
}

.dog-liked {
  position: relative;

  padding: 0.5em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dog-liked:hover .dog-img {
  opacity: 0.3;
}

.dog-liked:hover .dog-info {
  opacity: 1;
}

.dog-img {
  opacity: 1;
  display: block;
  width: 100%;
  /* height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.dog-info {
  display: block;
  /* width: 50%; */
  background-color: black;
  color: red;
  font-size: 16px;
  border-radius: 8px;
}
.dog-info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-conainer {
  margin: 0 auto;
}
.btn-refresh {
  font-weight: 500;
  font-size: 1rem;

  border-radius: 8px;
  background: rgb(232, 45, 112);
  background: linear-gradient(
    90deg,
    rgba(232, 45, 112, 1) 62%,
    rgba(240, 105, 87, 1) 100%
  );
  color: #fff;
  padding: 1em;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-picture {
  background-image: url("/images/cili.jpg");
  height: 1.2em;
  width: 1.2em;
  background-size: cover;
  border-radius: 50%;
}
.message-avatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-size: cover;
}
.message-avatar-small {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-size: cover;
}

.mail-container {
  padding: 0.5rem;
}
.mail-container h3 {
  text-align: left;
}

.message-container {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #eff0f3;
  border-radius: 18px;
  margin-bottom: 1em;
}
.sent {
  background-color: #d4d8f0;
  display: flex;
  justify-content: space-between;
}
.delete-line {
  background-color: transparent;
  padding: 1.2em;
}
.message-content {
  padding: 0.2em;
  margin-left: 0.5em;
  text-align: left;
}
.messages-header {
  display: flex;
  justify-content: space-between;
}
.messages-header h3 {
  margin-top: 0;
}
.dogs-liked-container {
  padding: 1em;
}
.send-todog-btn {
  padding: 0.4em;
  margin-top: 0.3em;
  width: 100%;
  background: rgb(232, 45, 112);
  background: linear-gradient(
    90deg,
    rgba(232, 45, 112, 1) 62%,
    rgba(240, 105, 87, 1) 100%
  );
  color: #fffffe;
  border-radius: 12px;
  font-size: 1.2rem;
}
.no-sent {
  text-align: left;
}
.message-content > h4 {
  margin: 0.2rem;
}
.message-container-sent-wrapper {
  display: flex;
  align-items: center;
}
.message-content > p {
  margin-top: 0;
  font-size: 0.8rem;
}
.profile-info {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-hero {
  margin-left: 0.2em;
  text-align: left;
}
.profile-hero > p,
.profile-hero > h4 {
  margin: 0;
  font-size: 0.7em;
}

.profile-footer {
  margin: 1em;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.7em;
  border-radius: 8px;
  display: block;
  margin-bottom: 0.6rem;
  margin-left: 0;
  background-color: #d4d8f0;
  color: #232946;
}

@media (min-width: 760px) {
  body {
    width: 70vw;
    margin: 0 auto;
  }
  .dogCard-container {
    height: 80vh;
  }
  .like-badge,
  .dismiss-badge {
    position: absolute;
    transform: rotate(-30deg);
    top: 10%;
    left: 35%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    font-size: 4rem;
    font-weight: 600;
    padding: 0.2rem 1.5rem;
  }
  .popUp {
    max-width: 500px;
  }
}
